<div>
  <h2 id="page-heading" data-cy="JobHeading">
    <span jhiTranslate="machineManagerApplicationApp.job.home.title">Jobs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="machineManagerApplicationApp.job.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-job"
        [routerLink]="['/job/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="machineManagerApplicationApp.job.home.createLabel"> Create a new Job </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="jobs?.length === 0">
    <span jhiTranslate="machineManagerApplicationApp.job.home.notFound">No jobs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="jobs && jobs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.customerName">Customer Name</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.days">Days</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.productName">Product Name</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.count">Count</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.productType">Product Type</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.comment">Comment</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.createDateTime">Create Date Time</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.updateDateTime">Update Date Time</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.deleted">Deleted</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.inProgress">In Progress</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.daysDone">Days Done</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.worked">Worked</span></th>
          <th scope="col"><span jhiTranslate="machineManagerApplicationApp.job.machine">Machine</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/job', job.id, 'view']">{{ job.id }}</a>
          </td>
          <td>{{ job.customerName }}</td>
          <td>{{ job.days }}</td>
          <td>{{ job.productName }}</td>
          <td>{{ job.count }}</td>
          <td>{{ job.productType }}</td>
          <td>{{ job.comment }}</td>
          <td>{{ job.createDateTime | formatMediumDatetime }}</td>
          <td>{{ job.updateDateTime | formatMediumDatetime }}</td>
          <td>{{ job.deleted }}</td>
          <td>{{ job.inProgress }}</td>
          <td>{{ job.daysDone }}</td>
          <td>
            <span *ngFor="let worked of job.workeds; let last = last">
              <a class="form-control-static" [routerLink]="['/worked', worked.id, 'view']">{{ worked.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td>
            <div *ngIf="job.machine">
              <a [routerLink]="['/machine', job.machine?.id, 'view']">{{ job.machine?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/job', job.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/job', job.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(job)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
