<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-rawmaterial-heading"
        data-cy="RawmaterialCreateUpdateHeading"
        jhiTranslate="machineManagerApplicationApp.rawmaterial.home.createOrEditLabel"
      >
        Create or edit a Rawmaterial
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.rawmaterial.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.rawmaterial.comment" for="field_comment"
            >Comment</label
          >
          <input type="text" class="form-control" name="comment" id="field_comment" data-cy="comment" formControlName="comment" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.rawmaterial.grade" for="field_grade">Grade</label>
          <input type="text" class="form-control" name="grade" id="field_grade" data-cy="grade" formControlName="grade" />
          <div *ngIf="editForm.get('grade')!.invalid && (editForm.get('grade')!.dirty || editForm.get('grade')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('grade')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.rawmaterial.dimension" for="field_dimension"
            >Dimension</label
          >
          <input type="text" class="form-control" name="dimension" id="field_dimension" data-cy="dimension" formControlName="dimension" />
          <div *ngIf="editForm.get('dimension')!.invalid && (editForm.get('dimension')!.dirty || editForm.get('dimension')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dimension')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.rawmaterial.coating" for="field_coating"
            >Coating</label
          >
          <input type="text" class="form-control" name="coating" id="field_coating" data-cy="coating" formControlName="coating" />
          <div *ngIf="editForm.get('coating')!.invalid && (editForm.get('coating')!.dirty || editForm.get('coating')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('coating')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.rawmaterial.supplier" for="field_supplier"
            >Supplier</label
          >
          <input type="text" class="form-control" name="supplier" id="field_supplier" data-cy="supplier" formControlName="supplier" />
          <div *ngIf="editForm.get('supplier')!.invalid && (editForm.get('supplier')!.dirty || editForm.get('supplier')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('supplier')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
