<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="job">
      <h2 data-cy="jobDetailsHeading"><span jhiTranslate="machineManagerApplicationApp.job.detail.title">Job</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ job.id }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.estimation">Estimation</span></dt>
        <dd>
          <span>{{ job.estimation }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.productCount">Product Count</span></dt>
        <dd>
          <span>{{ job.productCount }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.startDate">Start Date</span></dt>
        <dd>
          <span>{{ job.startDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.endDate">End Date</span></dt>
        <dd>
          <span>{{ job.endDate | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.fact">Fact</span></dt>
        <dd>
          <span>{{ job.fact }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.orderNumber">Order Number</span></dt>
        <dd>
          <span>{{ job.orderNumber }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.drawingNumber">Drawing Number</span></dt>
        <dd>
          <span>{{ job.drawingNumber }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.drawing">Drawing</span></dt>
        <dd>
          <div *ngIf="job.drawing">
            <a (click)="openFile(job.drawing, job.drawingContentType)">
              <img [src]="'data:' + job.drawingContentType + ';base64,' + job.drawing" style="max-width: 100%" alt="job image" />
            </a>
            {{ job.drawingContentType }}, {{ byteSize(job.drawing) }}
          </div>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.product">Product</span></dt>
        <dd>
          <span *ngFor="let product of job.products; let last = last">
            <a [routerLink]="['/product', product?.id, 'view']">{{ product.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.machine">Machine</span></dt>
        <dd>
          <div *ngIf="job.machine">
            <a [routerLink]="['/machine', job.machine?.id, 'view']">{{ job.machine?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.job.customer">Customer</span></dt>
        <dd>
          <div *ngIf="job.customer">
            <a [routerLink]="['/customer', job.customer?.id, 'view']">{{ job.customer?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/job', job.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
