<div>
  <h2 id="page-heading" data-cy="RawmaterialHeading">
    <span jhiTranslate="machineManagerApplicationApp.rawmaterial.home.title">Rawmaterials</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="machineManagerApplicationApp.rawmaterial.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-rawmaterial"
        [routerLink]="['/rawmaterial/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="machineManagerApplicationApp.rawmaterial.home.createLabel"> Create a new Rawmaterial </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="rawmaterials?.length === 0">
    <span jhiTranslate="machineManagerApplicationApp.rawmaterial.home.notFound">No rawmaterials found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="rawmaterials && rawmaterials.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="machineManagerApplicationApp.rawmaterial.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="comment">
            <span jhiTranslate="machineManagerApplicationApp.rawmaterial.comment">Comment</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="grade">
            <span jhiTranslate="machineManagerApplicationApp.rawmaterial.grade">Grade</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dimension">
            <span jhiTranslate="machineManagerApplicationApp.rawmaterial.dimension">Dimension</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coating">
            <span jhiTranslate="machineManagerApplicationApp.rawmaterial.coating">Coating</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="supplier">
            <span jhiTranslate="machineManagerApplicationApp.rawmaterial.supplier">Supplier</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rawmaterial of rawmaterials; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/rawmaterial', rawmaterial.id, 'view']">{{ rawmaterial.id }}</a>
          </td>
          <td>{{ rawmaterial.name }}</td>
          <td>{{ rawmaterial.comment }}</td>
          <td>{{ rawmaterial.grade }}</td>
          <td>{{ rawmaterial.dimension }}</td>
          <td>{{ rawmaterial.coating }}</td>
          <td>{{ rawmaterial.supplier }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/rawmaterial', rawmaterial.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/rawmaterial', rawmaterial.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(rawmaterial)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="rawmaterials && rawmaterials.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
