<p-dropdown [options]="machines" [(ngModel)]="selectedMachine" optionLabel="name" (onChange)="machineChanged()"></p-dropdown><br />
<p-card header="{{selectedMachine?.name}}"
        [style]="{'width': '50rem', 'margin-bottom': '2em'}"
        styleClass="p-card-shadow"
        subheader="{{ selectedMachine?.description }}">
 futo folyamat: <br />
  id: {{ selectedMachine?.runningJob?.id }}, megrendelo: {{selectedMachine?.runningJob?.consumerName}} <br/>
  {{selectedMachine?.runningJob?.productCount}} db {{getProductName(selectedMachine)}} <br/>
  Kezdve: {{selectedMachine?.runningJob?.startDate}}, becsult idotartam: {{selectedMachine?.runningJob?.estimation}}<br />
  tervezett folyamatok: {{ selectedMachine?.jobs?.length }}
  <ng-template pTemplate="footer">
    <p-button *ngIf="selectedMachine?.runningJob == null" label="Start next job" icon="pi pi-check"
              (onClick)="onStartNextJob()"></p-button>
    <p-button *ngIf="selectedMachine?.runningJob != null" label="Stop running job" icon="pi pi-times"
              styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"
              (onClick)="onStopRunningJob()"></p-button>
  </ng-template>
</p-card>

<p-orderList [value]="jobs" [dragdrop]="true" (onReorder)="reorder()">
  <ng-template let-job pTemplate="item">
    <div>
      <div style="font-size: 14px; float: right; margin: 15px 5px 0 0">
        {{ job.productCount }} count {{ getJobProduct(job) }} estimation:{{ job.estimation }}, customer:{{ job.consumerName }}, priority:
        {{ job.priority }}
      </div>
    </div>
  </ng-template>
</p-orderList>
<p-button label="Save" (onClick)="onSave()" [disabled]="!changed"></p-button>

<p-card header="{{machineDay.date}}" subheader="{{weekName[machineDay.dayOfWeek?? 0]}}" *ngFor="let machineDay of machineDays"
        [ngStyle]="{'background':machineDay.occupied ? 'green' : 'red' }"
        [style]="{'width': '25rem', 'margin-bottom': '1em'}"
        styleClass="p-card-shadow">
  <p-tag severity="{{getSeverity(machineDay)}}" value="{{machineDay.comment}}"></p-tag>
  {{machineDay.jobId}}
</p-card>
