<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rawmaterial">
      <h2 data-cy="rawmaterialDetailsHeading">
        <span jhiTranslate="machineManagerApplicationApp.rawmaterial.detail.title">Rawmaterial</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rawmaterial.id }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.rawmaterial.name">Name</span></dt>
        <dd>
          <span>{{ rawmaterial.name }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.rawmaterial.comment">Comment</span></dt>
        <dd>
          <span>{{ rawmaterial.comment }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.rawmaterial.grade">Grade</span></dt>
        <dd>
          <span>{{ rawmaterial.grade }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.rawmaterial.dimension">Dimension</span></dt>
        <dd>
          <span>{{ rawmaterial.dimension }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.rawmaterial.coating">Coating</span></dt>
        <dd>
          <span>{{ rawmaterial.coating }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.rawmaterial.supplier">Supplier</span></dt>
        <dd>
          <span>{{ rawmaterial.supplier }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rawmaterial', rawmaterial.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
