<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-job-heading" data-cy="JobCreateUpdateHeading" jhiTranslate="machineManagerApplicationApp.job.home.createOrEditLabel">
        Create or edit a Job
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.estimation" for="field_estimation"
            >Estimation</label
          >
          <input
            type="number"
            class="form-control"
            name="estimation"
            id="field_estimation"
            data-cy="estimation"
            formControlName="estimation"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.machine" for="field_machine">Machine</label>
          <select
            class="form-control"
            id="field_machine"
            data-cy="machine"
            name="machine"
            formControlName="machine"
            (ngModelChange)="onMachineChange()"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="machineOption.id === editForm.get('machine')!.value?.id ? editForm.get('machine')!.value : machineOption"
              *ngFor="let machineOption of machinesSharedCollection; trackBy: trackMachineById"
            >
              {{ machineOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.startDate" for="field_startDate"
            >Start Date</label
          >
          <div class="input-group">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="text"
              class="form-control"
              name="startDate"
              ngbDatepicker
              #startDateDp="ngbDatepicker"
              formControlName="startDate"
              [markDisabled]="isDisabled"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.endDate" for="field_endDate">End Date</label>
          <div class="input-group">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="text"
              class="form-control"
              name="endDate"
              ngbDatepicker
              #endDateDp="ngbDatepicker"
              formControlName="endDate"
              [markDisabled]="isDisabled"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
            </span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.productCount" for="field_productCount"
            >Product Count</label
          >
          <input
            type="number"
            class="form-control"
            name="productCount"
            id="field_productCount"
            data-cy="productCount"
            formControlName="productCount"
          />
          <div
            *ngIf="editForm.get('productCount')!.invalid && (editForm.get('productCount')!.dirty || editForm.get('productCount')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('productCount')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('productCount')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="machineManagerApplicationApp.job.product" for="field_products">Product</label>
          <select class="form-control" id="field_products" data-cy="product" multiple name="products" formControlName="products">
            <option
              [ngValue]="getSelectedProduct(productOption, editForm.get('products')!.value)"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.fact" for="field_fact">Fact</label>
          <input type="number" class="form-control" name="fact" id="field_fact" data-cy="fact" formControlName="fact" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.orderNumber" for="field_orderNumber"
            >Order Number</label
          >
          <input
            type="text"
            class="form-control"
            name="orderNumber"
            id="field_orderNumber"
            data-cy="orderNumber"
            formControlName="orderNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.drawingNumber" for="field_drawingNumber"
            >Drawing Number</label
          >
          <input
            type="text"
            class="form-control"
            name="drawingNumber"
            id="field_drawingNumber"
            data-cy="drawingNumber"
            formControlName="drawingNumber"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.drawing" for="field_drawing">Drawing</label>
          <div>
            <img
              [src]="'data:' + editForm.get('drawingContentType')!.value + ';base64,' + editForm.get('drawing')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('drawing')!.value"
              alt="job image"
            />
            <div *ngIf="editForm.get('drawing')!.value" class="form-text text-danger clearfix">
              <span class="pull-left">{{ editForm.get('drawingContentType')!.value }}, {{ byteSize(editForm.get('drawing')!.value) }}</span>
              <button
                type="button"
                (click)="clearInputImage('drawing', 'drawingContentType', 'file_drawing')"
                class="btn btn-secondary btn-xs pull-right"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_drawing"
              data-cy="drawing"
              (change)="setFileData($event, 'drawing', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="drawing" id="field_drawing" data-cy="drawing" formControlName="drawing" />
          <input
            type="hidden"
            class="form-control"
            name="drawingContentType"
            id="field_drawingContentType"
            formControlName="drawingContentType"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="machineManagerApplicationApp.job.customer" for="field_customer">Customer</label>
          <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
