<p-accordion [multiple]="true">
  <p-accordionTab header="gép részletek, jobok">
    <jhi-machine-details
      (savePriorities)="savePriorities($event)"
      (getMachineDays)="refreshMachineDays($event)"
      (startNextJob)="onStartNextJob($event)"
      (stopRunningJob)="onStopRunningJob($event)"
    >

    </jhi-machine-details>
  </p-accordionTab>
  <p-accordionTab header="gépek, jobok fa nézetben">
    <jhi-perps-tree></jhi-perps-tree>
  </p-accordionTab>
  <p-accordionTab header="Naptár">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Previous
          </div>
          <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">Today</div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h3>{{ viewDate | calendarDate: view + 'ViewTitle':'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">Month</div>
          <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">Week</div>
        </div>
      </div>
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events2"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events2"
        [refresh]="refresh"
        [dayStartHour]="9"
        [dayEndHour]="8"
      >
      </mwl-calendar-week-view>
    </div>
  </p-accordionTab>
  <p-accordionTab header="becsült terhelés">
    <jhi-bar-chart [data]="barData"> </jhi-bar-chart>
  </p-accordionTab>
</p-accordion>
<jhi-perps-timeline [events]="events2"></jhi-perps-timeline>
