<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="holiday">
      <h2 data-cy="holidayDetailsHeading"><span jhiTranslate="machineManagerApplicationApp.holiday.detail.title">Holiday</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ holiday.id }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.holiday.day">Day</span></dt>
        <dd>
          <span>{{ holiday.day | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.holiday.comment">Comment</span></dt>
        <dd>
          <span>{{ holiday.comment }}</span>
        </dd>
        <dt><span jhiTranslate="machineManagerApplicationApp.holiday.deleted">Deleted</span></dt>
        <dd>
          <span>{{ holiday.deleted }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/holiday', holiday.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
